include head.pug
.container
    .row
        h1 Compute Usage Mix
    include form.pug
    .row
        h2 Result:
        table#result-table.table.table-striped.table-bordered
            thead
                tr
                    th Jasmine
                    th Matcha
                    th Grade-A
                    th Almond
                    th Jasmine Grad-A mix
                    th Jasmine Almond mix
                    th Matcha Grad-A mix
                    th Matcha Almond mix
            tbody
                tr
                    td#JAS &nbsp;
                    td#MAT &nbsp;
                    td#GRDA &nbsp;
                    td#ALMD &nbsp;
                    td#JAS_GRDA &nbsp;
                    td#JAS_ALMD &nbsp;
                    td#MAT_GRDA &nbsp;
                    td#MAT_ALMD &nbsp;
include bottom.pug