include head.pug
.container
    .row
        h1 Compute Usage
    include form.pug
    .row
        h2 Result:
        table#result-table.table.table-striped.table-bordered
            thead
                tr
                    th Jasmine
                    th Matcha
                    th Grade-A
                    th Almond
            tbody
                tr
                    td#JAS &nbsp;
                    td#MAT &nbsp;
                    td#GRDA &nbsp;
                    td#ALMD &nbsp;
include bottom.pug
