.row
    .col-xs-12
        button#add-row.btn.btn-default ADD ROW
        form#main-form.form-inline(action='', method='POST')
            #row-container
            |
            button.btn.btn-default SEND
#row-element.hidden
    div
        .form-group
            label Name:
            |
            select.form-control(name='name[]')
                option(value='Jasmine') Jasmine Green Milk Tea
                option(value='Matcha') Matcha Milk Tea
        .form-group
            label Milk:
            |
            select.form-control(name='milk[]')
                option(value='') Grade-A Milk
                option(value='_almond') Almond Milk
        .form-group
            label Amount:
            |
            input(name='liquid[]', type='number', value='0')