doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Compute Usage
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/index.css', rel='stylesheet')
    body