include head.pug
.container
    .row
        h1 Index
    .row
        .col-xs-12
            a(href='/compute_usage') compute_usage
                br
                |
                a(href='/compute_usage_mix') compute_usage_mix
